<div>
  <div class="p-2">
    <h2> Bem vindo ao Serpent</h2>
    <p>aqui vc pode expor suas obras e seus desenhos </p>
  </div>


  <%= @current_user.email %>

<%= form_for :file, "#", [phx_submit: "save_file", phx_change: "validate_file", id: "upload-form"], fn f -> %>

<%= @uploads.post.entries |> List.first(%{}) |> Map.get(:client_name, nil)%>
  <%= live_file_input  @uploads.post %>
  <%= submit "upload" %>

<% end %>

  <div class="flex flex justify-around mt-2">
    <span class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> <%= link "Cadastro", to: Routes.user_registration_path(@socket, :new) %>  </span>

    <span class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"> <%= link "Login", to: Routes.user_session_path(@socket, :new) %> </span>
  </div>

</div>
